h1{
    color: black;
    font: size 300%;
    font-family:Times;
    text-align:center
}
hr{
    margin: 0em;
    border-width: 1px;
    border-color: #ffffff;
}
header{
    font-size:300%;
    text-align:center;
    color:black;
    padding: 1px;
    font-family: Arial;
    font-size: 200%;
}
.btn{
    font-size: x-large;
    text-align: center;
    font-family:fantasy;
    padding:20px; 
    border-radius: 30px;
    border-color: darkorange;
}
body{
    background-color: white;
    color: black;
    margin: 1mm 50mm;
    
}
.form{
    background-color:grey;
    color: black;
    text-decoration: wavy;

}
.img{
    background-color: #ffffff;
    text-align: center; 
}
aside{
    text-align: center;
    width: "400";
    height: "200";
}
.intro{
    font-family: Helvetica, sans-serif !important;
}
.topnav{
    background-color: aquamarine;
    overflow: hidden;
}
.topnav a{
    color: black;
    float: left;
    display: block;
    text-decoration: none;
    text-align: left;
    padding: 14px 16px;
}
.topnav a:hover{
    color: white;
    background-color: green;
    text-decoration: none;
    
}
.top-right-nav{
    float: right;

}
.li{
    list-style-type: none;
}